package ${package}.hibernate.dao;

import java.util.List;
import ${package}.hibernate.entities.*;

public interface ${entity.name}Dao
{#* If entity contains a complex type, need to add method to return type based on entity id *#	
#foreach ($property in $entity.properties)
#if ($property.complex)			
#if ($property.collection)
#set ( $returnType = "List<" + ${property.type} + ">" )
#else
#set ( $returnType = $property.type)
#end	
	public $returnType get${property.type}By${entity.name}Id(${entity.idType} id);
	
#end
#end

}
