package ${package}.hibernate.entities;

import javax.persistence.*;
import org.joda.time.DateTime; #* In future only add required imports *# 
import java.util.List;

@Entity
public class ${entity.name}
{
	#foreach ($property in $entity.properties)
		
		#* If is a collection use List<${property.type}> *#
		#if ($property.collection)
			#set ( $returnType = "List<" + ${property.type} + ">" )
		#else
			#set ( $returnType = $property.type)
		#end
		
		@${property.annotation}
		public $returnType $property.name;
	#end

}
