package ${package}.hibernate.entities;

import javax.persistence.*;
import org.joda.time.DateTime; #* In future only add required imports *# 
import java.util.List;
import ${package}.util.DateHelper;

@Entity
public class ${entity.name}
{
#foreach ($property in $entity.properties)
#if ($property.collection)
#set ( $returnType = "List<" + ${property.type} + ">" )
#else
#set ( $returnType = $property.type)
#end
	@${property.annotation}
#if ($property.annotation == "Id")
	@GeneratedValue(strategy = GenerationType.AUTO)
#end
	public $returnType $property.name;
	
#if ($property.type == "DateTime")
	@Transient
	public String ${property.name}String()
	{
		return DateHelper.getFormattedDateString(${property.name});
	}
#end
#end
}
