package ${package}.hibernate.entities;

import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.Id;
import org.joda.time.DateTime; #* In future only add required imports *# 

@Entity
public class $entity.name
{
	#foreach ($property in $entity.properties)
		
		#* If is a collection use List<${property.type}> *#
		#if ($property.isCollection)
			#set ( $returnType = "List<" + ${property.type} + ">" )
		#else
			#set ( $returnType = $property.type)
		#end
		
		@${property.annotation}
		public $returnType $property.name;
	#end

}
