package ${package}.guice.modules;

import com.google.inject.AbstractModule;
import com.peterphi.std.guice.serviceregistry.rest.RestResourceRegistry;
import ${package}.rest.service.*;
import ${package}.rest.service.impl.test.*;

public class TestRESTModule extends AbstractModule
{
	@Override
	protected void configure()
	{
	
#foreach ($entity in $entities.entities)
		bind(${entity.name}Service.class).to(${entity.name}ServiceTestImpl.class);
		RestResourceRegistry.register(${entity.name}Service.class);
#end
	}
}
