package ${package}.rest.service;

import ${package}.jaxb.types.*;

import javax.ws.rs.*;
import javax.ws.rs.core.*;
#set ($firstArgUp = "false")
#set ($firstArgCr = "false")

@Path("/${entity.camelCaseName}")
public interface ${entity.name}Service
{

	@POST
	@Path("/add")
	@Consumes(MediaType.APPLICATION_XML)
	public long add(${entity.name}Type ${entity.camelCaseName}Type);

	@GET
	@Path("/get/{id}")
	@Produces(MediaType.APPLICATION_XML)
	public ${entity.name}Type getById(@PathParam("id") ${entity.idType} id);


	@PUT
	@Path("/update")
	@Consumes(MediaType.APPLICATION_XML)
	public void update(${entity.name}Type ${entity.camelCaseName}Type);


	@DELETE
	@Path("/delete/{id}")
	public void deleteById(@PathParam("id") ${entity.idType} id);
	
	
	@GET
	@Path("/")
	@Produces(MediaType.TEXT_HTML)
	public String get${entity.name}ListPage(@DefaultValue("0") @QueryParam("offset") int offset, @DefaultValue(
			"20") @QueryParam("limit") int limit);

	
	@GET
	@Path("/{id}")
	@Produces(MediaType.TEXT_HTML)
	public String get${entity.name}Page(@PathParam("id") ${entity.idType} id);

	
	@GET
	@Path("/create")
	@Produces(MediaType.TEXT_HTML)
	public String getCreatePage();
	

	@GET
	@Path("/update/{id}")
	@Produces(MediaType.TEXT_HTML)
	public String getUpdatePage(@PathParam("id") ${entity.idType} id);

	
	@POST
	@Path("/create")
	@Consumes(MediaType.APPLICATION_FORM_URLENCODED)
	public Response createAndRedirect(#foreach ($property in $entity.properties)
#if(${property.serialise} && !${property.complex} && !${property.id})
#if($firstArgCr == "true"), #end
#if(!$firstArgCr == "false")
#set ($firstArgCr = "true")#end
#if($property.type == "DateTime")@FormParam("${property.name}") String ${property.name}#else
@FormParam("${property.name}") ${property.type} ${property.name}#end
#end
#end);
	
	
	@POST
	@Path("/update")
	@Consumes(MediaType.APPLICATION_FORM_URLENCODED)
	public Response updateAndRedirect(#foreach ($property in $entity.properties)
#if(${property.serialise} && !${property.complex})
#if($firstArgUp == "true"), #end
#if(!$firstArgUp == "false")
#set ($firstArgUp = "true")#end
#if($property.type == "DateTime")@FormParam("${property.name}") String ${property.name}#else
@FormParam("${property.name}") ${property.type} ${property.name}#end
#end
#end);
	
	@GET
	@Path("/delete/{id}")
	public Response deleteAndRedirect(@PathParam("id") ${entity.idType} id);

}