#set ($dollar = '$')
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>${entity.name} List</title>

	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"/>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<style>
		body {
		padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
		}
	</style>
</head>
<body id="top">

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href="#">${entity.name} List</a>

			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="active"><a th:href="@{/}">Home</a></li>
					<li class="active"><a th:href="@{/${entity.camelCaseName}/create}">Create New ${entity.name}</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<ul class="pager" th:if="${dollar}{pagination}">
		<li class="previous" th:if="${dollar}{previousPage}">
			<a th:href="@{/${entity.camelCaseName}(offset=${dollar}{prevOffset},limit=${dollar}{prevLimit})}">&larr; Previous</a>
		</li>
		<li class="next" th:if="${dollar}{nextPage}">
			<a th:href="@{/${entity.camelCaseName}(offset=${dollar}{nextOffset},limit=${dollar}{nextLimit})}">Next &rarr;</a>
		</li>
	</ul>
	<table class="table table-striped">
		<thead>
		<tr>
#foreach ($property in $entity.properties)
#if(${property.serialise} && !${property.complex})
			<th>${property.name}</th>
#end
#end
		</tr>
		</thead>

		<tbody>
		
		<tr th:each="${entity.camelCaseName} : ${dollar}{${entity.camelCaseName}List}">
#foreach ($property in $entity.properties)
#if(${property.serialise} && !${property.complex})
#if($property.id)			
			<td><a th:href="@{'/${entity.camelCaseName}/' + ${dollar}{${entity.camelCaseName}.id}}"><span th:text="${dollar}{${entity.camelCaseName}.id}"/></a></td>
#elseif($property.type == "DateTime")
			<td th:text="${dollar}{${entity.camelCaseName}.${property.name}String()}"/>
#else
			<td th:text="${dollar}{${entity.camelCaseName}.${property.name}}"/>
#end
#end
#end
		</tr>
		</tbody>
	</table>

</div>


</body>

</html>
